
<div id ="printableArea">
    <div class="A4" style="position: relative;">
        <img src ="/imgsrv/<%= data.procedureID %>/<%= data.imgs[0] %>" id="img0" width="200" height="200" style="position:absolute; top:180px; right: 10px;">
        <img src ="/imgsrv/<%= data.procedureID %>/<%= data.imgs[1] %>" id="img1" width="200" height="200" style="position:absolute; top:400px; right: 10px;">
        <img src ="/imgsrv/<%= data.procedureID %>/<%= data.imgs[2] %>" id="img2" width="200" height="200" style="position:absolute; top:620px; right: 10px;">
        <img src ="/imgsrv/<%= data.procedureID %>/<%= data.imgs[3] %>" id="img3" width="200" height="200"style="position:absolute; top:840px; right: 10px;">

        <p class="heading" style="position: absolute; top: 0px; left:20px;">Procedure Report</p>
        <p class="heading" style="position: absolute; top: 0px; right:10px">Colonoscopy</p>
        <hr style="z-index: -10; width:96%; position: absolute; top:20px;">

        <img style="position: absolute; top: 35px; left:15px;" src="/img/slogonew.png"/>
        <img style="position: absolute; top: 45px; right:10px;" src="/img/idsmall.png"/>
        <p class="strongtext" style="position: absolute; top: 115px; left:20px"><%= data.surgerySelection %></p>
        <p class="strongtext" style="position: absolute; top: 135px; left:20px"><%= data.surgeryName %></p>
        <p class="text" style="position: absolute; top: 155px; left:20px"><%= data.surgeryAddress %></p>
        <p class="text" style="position: absolute; top: 175px; left:20px">Sydney, NSW 2000</p>
        <hr style="z-index: -10; width: 500px; position: absolute; top:185px;">

        <!--<p class="strongtext" style="position: absolute; top: 200px; left:20px">Patient Name:</p>
        <p class="strongtext" style="position: absolute; top: 220px; left:20px">Date of Birth:</p>
        <p class="strongtext" style="position: absolute; top: 240px; left:20px">Record Number:</p>
        <p class="strongtext" style="position: absolute; top: 260px; left:20px">Date & Time of Procedure:</p>
        <p class="strongtext" style="position: absolute; top: 280px; left:20px">Reffering Physician:</p>
        <p class="strongtext" style="position: absolute; top: 300px; left:20px">Endoscopist:</p> -->
        <p class="strongtext"  style="position: absolute; top: 200px; left:20px">
            Patient Name:<br>
            Date of Birth:<br>
            Record Number:<br>
            Date & Time of Procedure:<br>
            Reffering Physician:<br>
            Endoscopist:
        </p>

        <p class="text" style="position: absolute; top: 200px; left:300px"><%= data.patientName %></p>
        <p class="text" style="position: absolute; top: 220px; left:300px"><%= data.patientDOB %></p>
        <p class="text" style="position: absolute; top: 240px; left:300px"><%= data.recordNumber %></p>
        <p class="text" style="position: absolute; top: 260px; left:300px"><%= data.examDateAndTime %></p>
        <p class="text" style="position: absolute; top: 280px; left:300px"><%= data.refferingPhysican %></p>
        <p class="text" style="position: absolute; top: 300px; left:300px"><%= data.endoscopist %></p>
        <hr style="z-index: -10; width:500px; position: absolute; top:310px;">
        <!--

        -->
        <p class="text" style="position: absolute; top: 330px; left:20px"><b>Procedure Performed: </b><%= data.procedurePerformed %></p>

        <p class="strongtext" style="position: absolute; top: 355px; left:20px">Indications For Examination:</p>
        <p class="text" style="position: absolute; top: 375px; left:20px;max-width:500px"><%= data.indicationsForExamination %></p>

        <p class="strongtext" style="position: absolute; top: 415px; left:20px;">Findings:</p>
        <p class="text" style="position: absolute; top: 435px; left:20px; max-width:500px"><%= data.findings %></p>

        <p class="strongtext" style="position: absolute; top: 475px; left:20px">Endoscopic Diagnosis:</p>
        <p class="text" style="position: absolute; top: 495px; left:20px; max-width:500px;"><%= data.endoscopicDiagnosis %></p>

        <p class="strongtext" style="position: absolute; top: 535px; left:20px">Recommendations:</p>
        <p class="text" style="position: absolute; top: 555px; left:20px;max-width:500px;"><%= data.recommendations %></p>

        <hr style="z-index: -10; width:550px; position: absolute; top:595px;">

        <p class="text" style="position: absolute; top: 620px; left:20px"><b>INSTRUMENTS: </b><%= data.instruments %></p>
        <p class="text" style="position: absolute; top: 620px; left:300px"><b>BOWEL PREP QUALITY: </b><%= data.qualityOfBowelPrep %></p>
        <p class="text" style="position: absolute; top: 640px; left:20px"><b>MEDICATIONS: </b><%= data.medications %></p>

        <p class="text" style="position: absolute; top: 660px; left:20px"><b>BOSTEN BOWEL PREP SCORE - </b>
            <b>RIGHT:</b> <%= data.rightColon %> <b>TRANVERSE:</b> <%= data.tranvserseColon %> <b>LEFT:</b> <%= data.leftColon %> <b>TOTAL:</b> <%= data.totalColon %>
            <br>
            <b>LANDMARKS INDENTIFIED: </b> <%= data.withdrawalTime %>
            <br>
            <b>WITHDRAWAL TIME: </b> <%= data.withdrawalTime %> <b>EXTENT OF EXAM: </b> <%= data.extentOfExam %> <b>VISUALIZATION: </b> <%= data.visualization %>
            <br>
            <b>TOLERANCE: </b> <%= data.tolerance %> <b>COMPLICATIONS: </b> <%= data.complications %> <b>LIMITATIONS: </b> <%= data.limitations %>
        </p>
    
    </div>
    <div class="A4" style="position: relative;">
        <p class="heading" style="position: absolute; top: 20px; left:20px;">Procedure Report</p>
        <p class="heading" style="position: absolute; top: 20px; right:55px">Colonoscopy</p>
        <hr style="z-index: -10; width:96%; position: absolute; top:25px;">
        <img style="position: absolute; top: 80px; left:10px;" src="/img/sdslogo.jpg"/>
        <img style="position: absolute; top: 80px; right:10px;" src="/img/idsmall.png"/>
</div>


<script>

setTimeout(function(){LoadPictures();}, 2000);
function LoadPictures(){
    for (let index = 0; index < 6; index++) {
        var imgToCheck = document.getElementById('img' + index);
        if (imgToCheck.naturalWidth === 0) {
            imgToCheck.src = "/img/245blank.jpg"
        }
        else{
        console.log("pic ok")
        }
    }
}



</script>



<script>
    setTimeout(function(){printDiv('printableArea');}, 1000);
        function printDiv(divName) {
          //document.getElementById('submitButton').style.visibility = 'hidden';
          var printContents = document.getElementById(divName).innerHTML;
          var originalContents = document.body.innerHTML;
     
          document.body.innerHTML = printContents;
          window.print();
          //document.body.innerHTML = originalContents;
          //window.location.replace("<%= localAddress %>/viewprocedures")
          //document.getElementById('submitButton').style.visibility = 'visible';
     }
</script>