<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/daterangepicker.css" />
<link href="/css/select2.min.css" rel="stylesheet" />
<script src="/js/select2.min.js"></script>

<form action="/updateprocedure" method="POST">
    <div class="psection">
        <h2>Clinic Section</h2>
        <label class="control-label">Surgery Selection</label>
        <input type="text" id="surgeryselection" style="width: 220px;" name="surgerySelection" value="<%= data.surgerySelection %>">
        <label class="control-label">Surgery Name</label>
        <input type="text" id="surgeryname" style="width: 220px;" name="surgeryName" value="<%= data.surgeryName %>">
        <br>
        <br>
        <label class="control-label">Surgery Address Line 1</label>
        <input type="text" id="surgeryaddress1" style="width: 220px;" name="surgeryAddress1" value="<%= data.surgeryAddress1 %>">
        <br>
        <label class="control-label">Surgery Address Line 2</label>
        <input type="text" id="surgeryaddress2" style="width: 220px;" name="surgeryAddress2" value="<%= data.surgeryAddress2 %>">
    </div>
    <div class="psection">
        <h2>Patient Section</h2>
        <label class="control-label">Patient ID:</label>
        <input type="number" id="patientID" style="width: 90px;" name="patientID" value="<%= data.patientID %>">
        <label class="control-label">Patient Name:</label>
        <input type="text" id="patientName" style="width: 165px;" name="patientName" value="<%= data.patientName %>">
        <label class="control-label">Patient DOB:</label>
        <input type="text" id="patientDOB" style="width: 120px;" name="patientDOB" value="<%= data.patientDOB %>">
        <label class="control-label">Patient Age:</label>
        <input type="number" id="patientAge" style="width: 60px;" name="patientAge" value="<%= data.patientAge %>">
        
        <label class="control-label">Patient Medicare:</label>
        <input type="number" id="patientmedicare" style="width: 60px;" name="patientMedicare" value="<%= data.patientMedicare %>">
        <br>
        <br>
        <label class="control-label">Patient Sex:</label>
        <input type="text" id="patientSex" style="width: 60px;" name="patientSex" value="<%= data.patientSex %>">
        <label class="control-label">Patient Email:</label>
        <input type="text" id="patientemail" style="width: 120px;" name="patientemail" value="<%= data.patientemail %>">
        <label class="control-label">Patient Phone:</label>
        <input type="text" id="patientphone" style="width: 120px;" name="patientphone" value="<%= data.patientphone %>">
        
    </div>
    <div class="psection">
        <h2>Procedure Section</h2>
        <label class="control-label">Exam Date:</label>
        <input type="date" id="examdate" style="width: 140px;" name="examDate" value="<%= data.examDate  %>">
        <label class="control-label">Exam Start:</label>
        <input type="time" id="examstart" style="width: 140px;" name="examStart" value="<%= data.examStart %>">
        <label class="control-label">Exam End:</label>
        <input type="time" id="examend" style="width: 140px;" name="examEnd" value="<%= data.examEnd %>">
        <label class="control-label">Record Number:</label>
        <input type="number" id="recordnumber" style="width: 140px;" name="recordNumber" value="<%= data.recordNumber %>">
        <br>
        <br>
        <label class="control-label">Reffering Physican:</label>
        <input type="text" id="refferingphysican" style="width: 140px;" name="refferingPhysican" value="<%= data.refferingPhysican %>">
        <label class="control-label">Endoscopist:</label>
        <input type="text" id="endoscopist" style="width: 140px;" name="endoscopist" value="<%= data.endoscopist %>">
        <label class="control-label">Procedure Performed:</label>
        <input type="text" id="procedureperformed" style="width: 140px;" name="procedurePerformed" value="<%= data.procedurePerformed %>">
        <br>
        <br>
        <label class="control-label">Indications for Examination:</label>
        <br>
        <input list="indicationsforexamination" name="indicationsForExamination" value="<%= data.indicationsForExamination %>" style="width: 800px;">
        <datalist id="indicationsforexamination">    
            <option value="Trans"/>
        </datalist>
        <br>
        <label class="control-label">Findings:</label>
        <br>
        <textarea id="findings" name="findings" rows="2" cols="150" style="resize: none;"></textarea>
        <br>
        <label class="control-label">Endoscopic Diagnosis:</label>
        <br>
        <textarea id="endoscopicdiagnosis" name="endoscopicDiagnosis" rows="2" cols="150" style="resize: none;" value="<%= data.endoscopicDiagnosis %>"></textarea>
        <br>
        <label class="control-label">Recommendations:</label>
        <br>
        <textarea id="recommendations" name="recommendations" rows="2" cols="150" style="resize: none;" value="<%= data.recommendations %>"></textarea>
        <br>
        <br>
        <label class="control-label">Instruments:</label>
        <input type="text" id="instruments" style="width: 140px;" name="instruments" value="<%= data.instruments %>">
        <label class="control-label">Quality of bowel prep:</label>
        <select id="qualityofbowelprep" name="qualityOfBowelPrep">
            <option value="<%= data.qualityOfBowelPrep %>"><%= data.qualityOfBowelPrep %></option>
            <option value="None">None</option>
            <option value="Poor">Poor</option>
            <option value="Adequete">Adequete</option>
            <option value="Good">Good</option>
          </select>
        <label class="control-label">Medications:</label>
        <input type="text" id="medications" style="width: 140px;" name="medications" value="<%= data.medications %>">
        <label class="control-label">Withdrawal Time:</label>
        <input type="time" id="withdrawaltime" style="width: 140px;" name="withdrawalTime" value="<%= data.withdrawalTime %>">
        <br>
        <br>
        <label class="control-label">Extent of Exam: </label> <input type="text" id="extentofexam" style="width: 140px;" name="extentOfExam" value="<%= data.extentOfExam %>">
        <br>
        <label class="control-label">Landmarks Indentified: </label> <input type="text" id="landmarksindentified" style="width: 140px;" name="landmarksIndentified" value="<%= data.landmarksIndentified %>">
        <br>
        <br>
        <label class="control-label">Visualization: </label>
        <select id="Visualization" name="visualization">
            <option value="<%= data.visualization %>"><%= data.visualization %></option>
            <option value="None">None</option>
            <option value="Poor">Poor</option>
            <option value="Adequete">Adequete</option>
            <option value="Good">Good</option>
          </select>
        <label class="control-label">Tolerance: </label>
        <select id="tolerance" name="tolerance">
            <option value="<%= data.tolerance %>"><%= data.tolerance %></option>
            <option value="None">None</option>
            <option value="Poor">Poor</option>
            <option value="Adequete">Adequete</option>
            <option value="Good">Good</option>
        </select>
        <label class="control-label">Complications: </label>
        <select id="complications" name="complications">
            <option value="<%= data.complications %>"><%= data.complications %></option>
            <option value="None">None</option>
            <option value="No">Yes</option>
        </select>
        <label class="control-label">Limitations: </label>
        <select id="limitations" name="limitations">
            <option value="<%= data.tolerance %>"><%= data.limitations %></option>
            <option value="None">None</option>
            <option value="Yes">Yes</option>
        </select>
        <br>
        <label class="control-label">Procedure Technique:</label>
        <br>
        <textarea id="proceduretechnique" name="procedureTechnique" rows="4" cols="150" style="resize: none;" value="<%= data.procedureTechnique %>"></textarea>
        <br>
    </div>
    <div class="psection">
        <h2>Boston Bowel Prep Score</h2>
        <label class="control-label">Right Colon:</label>
        <input type="number" id="rightcolon" style="width: 50px;" name="rightColon" value="<%= data.rightColon %>" onchange="AddColonScore()">
        <label class="control-label">Tranvserse Colon:</label>
        <input type="number" id="tranvsersecolon" style="width: 50px;" name="tranvserseColon" value="<%= data.tranvserseColon %>" onchange="AddColonScore()">
        <label class="control-label">Left Colon:</label>
        <input type="number" id="leftcolon" style="width: 50px;" name="leftColon" value="<%= data.leftColon %>" onchange="AddColonScore()">
        <br>
        <label id= "ctlabel" class="control-label">Colon Total: </label>
        <input type="number" id="totalcolon" style="width: 50px; visibility:hidden" name="totalColon" value="<%= data.totalColon %>" onchange="AddColonScore()">
    </div>
    <div class="psection">
        <h2>Pathology Section</h2>
        <label class="control-label">Pathology Section:</label>
        <br>
        <textarea id="tissuesubmitted" name="tissueSubmitted" rows="2" cols="150" style="resize: none;" value="<%= data.tissueSubmitted %>"></textarea>
        <br>
    </div>
    <div class="psection">
        <h2>Discharge Information Section</h2>
        <label class="control-label">Following procedure performed:</label>
        <input type="text" id="followingprocedureperformed" style="width: 360px;" name="followingProcedurePerformed" value="<%= data.followingProcedurePerformed %>">
        <br>
        <br>
        <label class="control-label">To Aid In Complications:</label>
        <br>
        <textarea id="toaidincomplications" name="toAidInComplications" rows="3" cols="150" style="resize: none;" value="<%= data.toAidInComplications %>"></textarea>
        <br>
        <br>
        <label class="control-label">Discharged to:</label>
        <input type="text" id="dischargedto" style="width: 360px;" name="dischargedTo" value="<%= data.dischargedTo %>">
        <br>
        <br>
        <label class="control-label">Prescriptions given to patient:</label>
        <br>
        <textarea id="prescriptionsgiventopatient" name="prescriptionsGivenToPatient" rows="3" cols="150" style="resize: none;" value="<%= data.prescriptionsGivenToPatient %>"></textarea>
        <br>
        <label class="control-label">Appointment Information:</label>
        <br>
        <textarea id="appointmentinformation" name="appointmentInformation" rows="2" cols="150" style="resize: none;" value="<%= data.appointmentInformation %>"></textarea>
        <br>
        <label class="control-label">Additional Instructions:</label>
        <br>
        <textarea id="additionalInstructions" name="additionalInstructions" rows="2" cols="150" style="resize: none;" value="<%= data.additionalInstructions %>"></textarea>
        <br>
    </div>
    <div class="psection">
            <h2>Codes Section</h2>
            <label class="control-label">CPT Code: </label>
            <br>
            <input type="text" id="cptcode" style="width: 800px;" name="cptCode" value="<%= data.cptCode %>">
            <br>
            <label class="control-label">ICD Code: </label>
            <br>
            <input type="text" id="icdcode" style="width: 800px;" name="icdCode" value="<%= data.icdCode %>">
    </div>
    <div class="psection">
        <h2>Image Section</h2>
        <button type="button" onclick="SetCanvasBrushSize('down')" style="width: 145px" class="btn btn-theme">Brush Size -</button>
        <input type="number" onchange="SetCanvasBrushSize('input')" id="brushSizeBox" style="width: 47px;" name="brushSizeBox" value="3">
        <button type="button" onclick="SetCanvasBrushSize('up')" style="width: 145px" class="btn btn-theme">Brush Size +</button>
        <input type="color" id="html5colorpicker" onchange="SetCanvasColour(this.value)" style="width:145px;" value="black">
        <button type="button" onclick="ClearCanvas()" style="width: 245px" class="btn btn-theme">Clear Canvas</button>
        <br><br>
        <button type="button" onclick="SelectImage('0')" style= "width: 200px" class="btn btn-theme">Change Image 1</button>
        <button type="button" onclick="SelectImage('1')" style= "width: 200px" class="btn btn-theme">Change Image 2</button>
        <button type="button" onclick="SelectImage('2')" style= "width: 200px" class="btn btn-theme">Change Image 3</button>
        <button type="button" onclick="SelectImage('3')" style= "width: 200px" class="btn btn-theme">Change Image 4</button>
        <br>
        <div id="img-container">
            <canvas class="diagram" id="diagram-canvas-0"></canvas>
            <img src ="/imgsrv/<%= data.procedureID %>/<%= data.imgs[0] %>" id="img0" width="200" height="200">
            <canvas class="diagram" id="diagram-canvas-1"></canvas>
            <img src ="/imgsrv/<%= data.procedureID %>/<%= data.imgs[1] %>" id="img1" width="200" height="200">
            <canvas class="diagram" id="diagram-canvas-2"></canvas>
            <img src ="/imgsrv/<%= data.procedureID %>/<%= data.imgs[2] %>" id="img2" width="200" height="200">
            <canvas class="diagram" id="diagram-canvas-3"></canvas>
            <img src ="/imgsrv/<%= data.procedureID %>/<%= data.imgs[3] %>" id="img3" width="200" height="200">
        </div>
        <br>
        <input type="hidden" name="imgData0" id="imgdatainput0" value="">
        <input type="hidden" name="imgData1" id="imgdatainput1" value="">
        <input type="hidden" name="imgData2" id="imgdatainput2" value="">
        <input type="hidden" name="imgData3" id="imgdatainput3" value="">
        <input type="hidden" name="newProcedure" id="newProcedure" value="<%= data.new %>">
        <input type="hidden" name="procedureID" id="procedureID" value="<%= data.procedureID %>">
        <input type="hidden" name="examDateAndTime" id="examDateAndTime" value="<%= data.examDateAndTime %>">
        <input type="hidden" name="imgTotal" id="imgTotal" value="<%= data.imgTotal %>">
        <input type="hidden" name="imgs" id="imgs0" value="<%= data.imgs[0] %>">
        <input type="hidden" name="imgs" id="imgs1" value="<%= data.imgs[1] %>">
        <input type="hidden" name="imgs" id="imgs2" value="<%= data.imgs[2] %>">
        <input type="hidden" name="imgs" id="imgs3" value="<%= data.imgs[3] %>">
        <input type="hidden" name="printNow" id="printnow" value="no">
    </div>
    <button type="submit" id="submitButton" onlick="SubmitAndPrint()" style="float: right;" class="btn btn-theme">Submit and Print</button>
    <button type="submit" id="submitButton" style="float: right;" class="btn btn-theme">Submit Without Printing</button>
</div>
</form>

<script>
    function SubmitAndPrint(){
        document.getElementById('printnow').value = 'yes';
    }

    function SelectImage(imgNumber){
        oldPanelDiv = document.getElementById('panelDiv');
        if (oldPanelDiv != null){
            oldPanelDiv.remove();
        }
        var imgContainer = document.getElementById('img-container');
        var panelDiv = document.createElement('div');
        panelDiv.id = "panelDiv";
        panelDiv.className = 'imgselectpanel'
        imgContainer.prepend(panelDiv);
        
        imgTotal = document.getElementById('imgTotal').value;
        //var imgLineHTML = '<img src ="/imgsrv/<%= data.procedureID %>/IMG0.JPG" width="245" height="245" onclick="ImageClick(this.id, this.src,' + "0" + ',panelDiv)" id="panelImage1">'
        //var imgLineHTML = '<input type="image" src="/imgsrv/<%= data.procedureID %>/IMG0.JPG" width="245" height="245"/>'
        //panelDiv.innerHTML = imgLineHTML;

        imgLinesHTML = [];
        var longHTML = "<h3>Select an image for position " + (imgNumber) + "</h3>";
        for (let index = 0; index < imgTotal; index++){
            var imgLineHTML = '<img src ="/imgsrv/<%= data.procedureID %>/IMG'+ index +'.JPG" width="121" height="121" onclick="ImageClick(this.src,' + imgNumber + ',panelDiv,' + index + ')" id="panelImage1">'
            longHTML = longHTML + imgLineHTML;
            if (index == imgTotal - 1){panelDiv.innerHTML = longHTML;}
        }
        
    }

    function ImageClick(imageSrc, imgNumber, panelDiv, panelIMGfileNumber){
        //image id is the number index of the newly selected image
        //imgSrc is the src of the newly selected image
        //img number is the image to be changed current number (html ID and imgs array pos)
        document.getElementById('img' + imgNumber).src = imageSrc;
        document.getElementById('imgs' + imgNumber).value = "IMG" + panelIMGfileNumber + ".JPG";
        panelDiv.remove();
        //}
    }
</script>



<script>

setTimeout(function(){LoadPictures();}, 2000);
function LoadPictures(){
        for (let index = 0; index < 4; index++) {
            var imgToCheck = document.getElementById('img' + index);
            if (imgToCheck.naturalWidth === 0) {
            imgToCheck.src = "/img/245blank.png"
            }
            else{
            console.log("pic ok")
        }
    }
}



</script>

<script>
    //document.getElementById("diagram-canvas");
    var canvasArray = [];
    canvasArray.push(document.getElementById("diagram-canvas-0"));
    canvasArray.push(document.getElementById("diagram-canvas-1"));
    canvasArray.push(document.getElementById("diagram-canvas-2"));
    canvasArray.push(document.getElementById("diagram-canvas-3"));
    //var context = [];//canvas.getContext("2d");
    //context.push(canvas[0],canvas[1],canvas[2],canvas[3]);
    //context.forEach(context => {
        fillStyle = "black";
    //});
    diagramCounter = 0;
    canvasArray.forEach(canvas =>{
        canvas.width = 200;
        canvas.height = 200;
        canvas.getContext("2d").fillStyle = "black";
        if (document.getElementById("newProcedure").value == "false"){
            var img = new Image();
            img.src=`/imgsrv/<%= data.procedureID %>/diagram${diagramCounter}.png`;
            img.onload=function(){
                canvas.getContext("2d").drawImage(img, 0, 0,canvas.width,canvas.height);
            }
        }
        diagramCounter++;
    });

    var clicking = false;
    var brushSize = 3;



    window.addEventListener('mousemove', draw, false);
    window.addEventListener('mousedown', Clicking, false);
    window.addEventListener('mouseup', NotClicking, false);

    function ClearCanvas(){
      
      for (let i = 0; i < canvasArray.length; i++){
        canvasArray[i].getContext("2d").clearRect(0, 0, canvasArray[i].width, canvasArray[i].height);
        document.getElementById("imgdatainput" + i).value = canvasArray[i].toDataURL();
      }
      
    }
    function Clicking(e){
        clicking = true;
    }
    function NotClicking(e){
        clicking = false;
        for (let i = 0; i < canvasArray.length; i++){
            document.getElementById("imgdatainput" + i).value = canvasArray[i].toDataURL();
          }
        
    }
    function draw(e) {
        if (clicking){
            canvasArray.forEach(canvas =>{
                let context = canvas.getContext("2d");
                var pos = getMousePos(canvas, e);
                posx = pos.x;
                posy = pos.y;
                //
                //context.fillRect(posx, posy, 5, 5);
                context.beginPath();
                context.arc(posx, posy, brushSize, 0, 2*Math.PI);
                context.fill();
            });
        }
    }
    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
            x: (evt.clientX - rect.left) / (rect.right - rect.left) * canvas.width,
            y: (evt.clientY - rect.top) / (rect.bottom - rect.top) * canvas.height
        };
    }
    
    function SetCanvasColour(colour){
        console.log(colour + "Changed");
        context.fillStyle = colour;
    }
    function SetCanvasBrushSize(direction){
        if (direction == "up"){
            brushSize++;
            document.getElementById('brushSizeBox').value = brushSize;
        }
        if (direction == "down"){
            if (brushSize > 0){
                brushSize--;
                document.getElementById('brushSizeBox').value = brushSize;
            }
        }
        if (direction == "input"){
            brushSize = document.getElementById('brushSizeBox').value;
        }
    }
</script>



<script>
/*    $('#reason').select2({
      tags: true
  });
  fetch(APIURL + '/setupget/reasons')
  .then((resp) => resp.json())
  .then(function(data) {
      data.forEach(element =>{
          var newOption = new Option(element.reason, element.reason, false, false);
          document.getElementById('reason').appendChild(newOption);
      });
  });
  $('#findings').select2({
    tags: true
});
fetch(APIURL + '/setupget/findings')
.then((resp) => resp.json())
.then(function(data) {
    data.forEach(element =>{
        var newOption = new Option(element.findings, element.findings, false, false);
        document.getElementById('findings').appendChild(newOption);
    });
});*/
let dataListArray = ['indicationsforexamination'];
dataListArray.forEach(item =>{
    let selectBox = document.getElementById(item);
    fetch(`${APIURL}/setupget/${item}`).then((resp) => resp.json()).then(function(data){
        data.forEach(listObject =>{
            let newOpt = document.createElement('option');
            newOpt.value = listObject;
            newopt.innerHTML = listObject;
            selectBox.appendChild(newopt);
        })
    })
})

</script>


<script>
    AddColonScore();
    function AddColonScore(){
        let rcs = parseInt(document.getElementById('rightcolon').value);
        let tcs = parseInt(document.getElementById('tranvsersecolon').value);
        let lcs = parseInt(document.getElementById('leftcolon').value);
        console.log(tcs);
        if (isNaN(rcs)){rcs = 0;}
        if (isNaN(tcs)){tcs = 0;}
        if (isNaN(lcs)){lcs = 0;}
        document.getElementById('totalcolon').value = rcs + tcs + lcs;
        console.log("rcs" + rcs, tcs + "tcs" + lcs + "lcs");
        document.getElementById('ctlabel').innerHTML = `Total Colon: ${document.getElementById('totalcolon').value}`;
    }
</script>

<script>
    /*let a = `<%= data.examDate  %>`;
    var b = a.slice(0,10)
    var c = b.replaceAll('/', '-');
    document.getElementById('examdate').value = c;*/
</script>

<script>
    //cuts out the new line and changes the slashes to dashes for HTML time
    let convertedExamDate = `<%= data.examDate  %>`.slice(0,10).replaceAll('/','-');
    document.getElementById('examdate').value = convertedExamDate;


    document.getElementById('findings').value = `<%= data.findings %>`
    document.getElementById('endoscopicdiagnosis').value = `<%= data.endoscopicDiagnosis %>`
    document.getElementById('recommendations').value = `<%= data.recommendations %>`
    document.getElementById('proceduretechnique').value = `<%= data.procedureTechnique %>`
</script>