<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

<style type="text/css">
    * {
        box-sizing: border-box;
      }
      
      body {
        background-color: #f1f1f1;
        padding: 20px;
        font-family: Arial;
      }
      
      /* Center website */
      .main {
        max-width: 1000px;
        margin: auto;
      }
      
      h1 {
        font-size: 50px;
        word-break: break-all;
      }
      
      .row {
        margin: 8px -16px;
      }
      
      /* Add padding BETWEEN each column (if you want) */
      .row,
      .row > .column {
        padding: 8px;
      }
      
      /* Create four equal columns that floats next to each other */
      .column {
        float: left;
        width: 33%;
      }
      
      /* Clear floats after rows */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Content */
      .content {
        background-color: white;
        padding: 10px;
      }

      .qtmpanel {
        background-color: lightgray;
        min-height: 600px;
        max-height: 600px;
        overflow: scroll;
      }
      
      /* Responsive layout - makes a two column-layout instead of four columns */
      @media screen and (max-width: 900px) {
        .column {
          width: 50%;
        }
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
      }
</style>

<div class="A4">
        <img style="float: left; margin: 0px 0px 0px 0px;" src="/img/sdslogo.jpg"/>
        <img style="float: right; margin: 0px 0px 0px 0px;" src="/img/idsmall.png"/>
        <br>
        <div style="text-align: center"><h2>Colonoscopy Report</h1></div>
        <br>
        <form action="submitnewprocedure" method="POST">
                <h3>Details</h3>
                <label class="control-label">Procedure Date</label>
                <input type="text" id="pdate" style="width: 160px;" name="pdate" placeholder="<%= data.pdate %>">
                <label class="control-label">Patient ID</label>
                <input type="text" id="pid" style="width: 160px;" name="pdate" placeholder="<%= data.pid %>">
                <label class="control-label">Proceduralist</label>
                <input type="text" id="pdate" style="width: 160px;" name="pdate" placeholder="<%= data.proceduralist %>">
                <br><br>
                <label class="control-label">Reason for procedure</label>
                <input type="text" name="reason" placeholder="<%= data.reason %>" style="width: 500px; float: right;">
                <br>
                <br>
                <label class="control-label" rows="5" height =>Findings</label>
                <input type="text" name="findings" placeholder="<%= data.findings %>" cols="40" rows="5" style="width: 500px; float: right;"></textarea>
                <br><br>
                <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" name="polyps" value="polyps"  <%= data.polyps ? "checked" : "" %>> Bowel Preparation
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="completecolon"<%= data.completecolon ? "checked" : "" %>> Complete Colonoscopy Achieved
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3" value="haemorrhoids"<%= data.haemorrhoids ? "checked" : "" %>> Haemorrhoids
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3" value="diverticulardisease"<%= data.diverticulardisease ? "checked" : "" %>> Diverticular Disease
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3" value="colitis"<%= data.colitis ? "checked" : "" %>> Colitis
                        </label>
                    </label>
                    <br><br><br>
                    <img src ="/imgsrv/<%= reportID %>.png" id="diagramcanvas" width="360" height="360" style="margin: 0px 0px 0px 140px"></canvas>
                    <input type="hidden" name="imgdata" id="imgdatainput" value="">
                    <br><br><br>
                    <label class="control-label">Follow up with doctor required:</label>
                    <label class="checkbox-inline">
                            <input type="radio" id="followupradio1" name="followupradio" <%= data.followupradio == "yes" ? "checked" : "" %> value="yes"> Yes
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" id="followupradio2" name="followupradio" <%= data.followupradio == "no" ? "checked" : "" %> value="no"> No
                            </label>
                        </label>
                        <br>
                        <label class="control-label">If yes, details:</label>
                        <input type="text" style="width: 460px;" name="followupdetails" placeholder="<%= data.followupdetails %>" >
                        <br><br><br>
                        <label class="control-label">Recommended timeframe for follow up colonoscopy:</label>
                        <input type="text" onclick="StartDate()" id="fdate" style="width: 160px;" name="fdate" placeholder="<%= data.fdate %>"><br>
                        <p>Or</p>
                        <input type="checkbox" id="inlineCheckbox2" value="followupdiscuss" name="followupdiscuss" <%= data.followupdiscuss == "yes" ? "checked" : "" %> > To be discussed at your follow up appointment
                        <br><br><br><br><br>
                        <p>Doctor signature:  ______________________________________</p>
                        <br><br><br>
        </form>
</div>
